.nice-select{
    max-width: 228px;
    width: 100%;
    padding: 11.2px 34px 11.2px 16px;
    border: 1px solid rgba(0, 0, 0, 0.02);
    outline: none;
    background: #F9F9F9;
    height: auto;
    border-radius: 12px;
    line-height: normal;
    .current{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: rgba(0, 0, 0, 0.9);
        width: 100%;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &::after{
        width: 7px;
        height: 7px;
        border-color: #000;
        right: 20px;
        margin-top: -6px;
    }
    .list{
        width: 100%;
        max-height: 160px;
        overflow-y: auto;
        &::-webkit-scrollbar{
            width: 3px;
        }
        &::-webkit-scrollbar-thumb{
            background: #1252a6;
        }
        .option{
            text-wrap: wrap;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: rgba(0, 0, 0, 0.9);
            height: auto;
            min-height: 0;
            padding: 10px 16px;
        }
    }
}

.addLangModal {
    background: rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}
.addLangModal .addLang-box {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    padding: 28px;
    border-radius: 12px;
    max-width: 876px;
    width: 100%;
}
.addLangModal .addLang-box .addLang-box-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.addLangModal .addLang-box .addLang-box-head h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #000;
}
.addLangModal .addLang-box .addLang-box-head .closeAddLang {
    width: 24px;
    height: 24px;
    min-width: 24px;
}
.addLangModal .addLang-box .addLang-box-head .closeAddLang svg {
    width: 100%;
    height: 100%;
}
.addLangModal .addLang-box .form_addLang {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 28px;
}
.addLangModal .addLang-box .form_addLang .form-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.addLangModal .addLang-box .form_addLang .form-items .form-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    width: 100%;
}
.addLangModal .addLang-box .form_addLang .form-items .form-item label {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}
.addLangModal .addLang-box .form_addLang .form-items .form-item input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background: #F9F9F9;
    border-radius: 12px;
    outline: none;
    padding: 14px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #000;
}
.addLangModal .addLang-box .form_addLang .form-items .form-item input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
}
.addLangModal .addLang-box .form_addLang .form-items .form-item input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}
.addLangModal .addLang-box .form_addLang .form-items .form-item .nice-select {
    padding: 14px 34px 14px 16px;
    line-height: normal;
    height: -moz-max-content;
    height: max-content;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background: #F9F9F9;
    border-radius: 12px;
}
.addLangModal .addLang-box .form_addLang .form-items .form-item .nice-select .current {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.9);
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.addLangModal .addLang-box .form_addLang .form-items .form-item .nice-select::after {
    width: 7px;
    height: 7px;
    border-color: #000;
    right: 20px;
    margin-top: -6px;
}
.addLangModal .addLang-box .form_addLang .form-items .form-item .nice-select .list {
    width: 100%;
    max-height: 160px;
    overflow-y: auto;
}
.addLangModal .addLang-box .form_addLang .form-items .form-item .nice-select .list::-webkit-scrollbar {
    width: 3px;
}
.addLangModal .addLang-box .form_addLang .form-items .form-item .nice-select .list::-webkit-scrollbar-thumb {
    background: #1252a6;
}
.addLangModal .addLang-box .form_addLang .form-items .form-item .nice-select .list .option {
    text-wrap: wrap;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.9);
    height: auto;
    min-height: 0;
    padding: 10px 16px;
}
.addLangModal .addLang-box .form_addLang .addNewLangBtn {
    padding: 10px 20px;
    color: #fff;
    background: #1661C3;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    border-radius: 12px;
}
.dashboard .dashboard-body .student-detailView-container .student-detailView-tabContents .student-jobEducation-tabContent .addLangBoxBtn {
    margin-top: 28px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #1661C3;
    border: 1px dashed rgba(22, 97, 195, 0.4);
    background: #EEF1FC;
    padding: 10px 20px;
    border-radius: 12px;
}
.text-danger{
    color: red;
}
.success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: inline-block;
    min-width: 150px;
    padding: 10px 30px;
}
.studentOtherButtons{
    max-width: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    a,button{
        min-width: 20px;
        width: 20px;
        height: 20px;
    }
}
p{
    margin-bottom: 0 !important;
}
a{
    text-decoration: none !important;
}
